body{
    margin: 0;
}

/* #part1{
    width:100%;
    height:700px;
    background-image: url(images/library-hero.jpg);
    position:absolute; 
} */

#part2{
    width:100%;
    height:100vh;
    background-image: url(images/library-hero.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#0e0e0e94;
    background-blend-mode: multiply;
}

.head{
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
}

.head h1{
    margin:0px;
    color:white;
    padding-top:30px;
    font-size:2.5em;
    padding-left:20px;
}

ul{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    padding-top:40px;
    margin-right:40px;
}
.container{
    display:flex;
}

li{
    margin-left:30px;
    color:white;
    font-size:1.5em;
    padding-left:6px;
}

button{
    height: 35px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color:orange;
    margin-top:-10px;
}

i{
    font-size:20px;
}

.heading{
    color:white;
    font-size:1.5em;
}
.content h1{
    font-size:5em;
    text-align: center;
    padding-top:40px;
    color:white;
    margin-bottom:0px;
}
.content h2{
    color:white;
    font-size:2em;
    text-align: center;
    margin:0px;

}
.content h3{
    color:white;
    font-size:1.5em;
    text-align: center;
    margin:0px;


}

section{
    width:auto;
    height:400px;
    background-color:orange;
    /* display:flex; */
}



#sec1{
width:670px;
height:400px;
background-color:black;
}

#sec2{
    width:670px;
    height:400px;
    background-color:red;
    }

main{
    width:auto;
    height:350px;
    background-color:greenyellow;
}

footer{
    width:auto;
    height:200px;
    background-color:grey;
}  



























 /* h1{
    color:white;
    padding-left:50px;
    
} 
#sec{
    width:auto;
    height:400px;
    background-color:orange;
    

}
h2{
    font-size:4em;
    color:black;
    text-align: center;
   
}
h3{
    font-size:2em;
    color:black;
text-align: center;
}
h4{
    font-size:1.5em;
    color:black;
    text-align: center;
}
.lebel{
    width:200px;
    height:50px;
    background-color:yellow;
    border-radius:10px;
    padding-left:50px;
} */ */ */